// theme

$color-map-theme-dark: (
  fg-emphasize:       #ffffff,
  fg-normal:          #d6d7d8,
  fg-sub:             #8e9399,
  fg-placeholder:     #9d9fa2,
  fg-disabled:        #7b7e83,

  bg-higher:          #1d2633,
  bg-high:            #19212c,
  bg-normal:          #151b25,
  bg-low:             #11161e,
  bg-lower:           #0d1116,
  bg-hover:           #4a515c,
  bg-disabled:        #4a515c,

  bd-normal:          #4a515c, // same as bg-hover
  bd-disabled:        #7b7e83, // same as fg-disabled
  bd-focus:           #4a515c,
);

// tone

$color-map-tone-primary: (
  darkener:   #bb5c2c,
  darken:     #cc622d,
  standard:   #dc662b,
  lighten:    #e96826,
  lightener:  #f86b23,
);

$color-map-tone-secondary: (
  darkener:   #97703b,
  darken:     #b88c49,
  standard:   #b98e4c,
  lighten:    #dacd83,
  lightener:  #e7d291,
);
