$hero-video-size: 256;

$level-size: 48;

$highlight-color:   #e7d291;
$glow-color:        #ec780e;

$color-strength:        #ec3d06;
$color-agility:         #26e030;
$color-intelligence:    #01cde3;


// navbar

$navbar-main-height: 60;
$navbar-sub-height: 40;
