// theme

$color-map-theme-dark: (
  fg-emphasize:       #ffffff,
  fg-normal:          #e1e1e1,
  fg-sub:             #a4b5ba,
  fg-placeholder:     #849093,
  fg-disabled:        #676e70,

  bg-higher:          #43474a,
  bg-high:            #313436,
  bg-normal:          #282b2d,
  bg-low:             #202224,
  bg-lower:           #161719,
  bg-hover:           #353b42,
  bg-disabled:        #525659,

  bd-normal:          #353b42, // same as bg-hover
  bd-disabled:        #676e70, // same as fg-disabled
  bd-focus:           #43484b,
);

// tone

$color-map-tone-primary: (
  darkener:   #bc270d,
  darken:     #c7290e,
  standard:   #d52c0f,
  lighten:    #e83010,
  lightener:  #f43211,
);

$color-map-tone-secondary: (
  darkener:   #0d80bc,
  darken:     #0e89c7,
  standard:   #0f94d6,
  lighten:    #10a0e8,
  lightener:  #11a9f5,
);
