$screen-width-mobile: 320;

// navbar

$navbar-main-height: 60;
$navbar-sub-height: 40;

// misc

$hero-video-size:       256;
$hero-avatar-h-width:   128;
$hero-avatar-h-height:  72;
$hero-avatar-v-width:   71;
$hero-avatar-v-height:  94;
$hero-icon-width:  32;
$hero-icon-height: 32;

$item-icon-width:  88;
$item-icon-height: 64;

$level-size: 48;

$color-highlight:   #e7d291;
$color-glow:        #f86b23;
$color-label:       #6889b8;

$color-strength:        #ec3d06;
$color-agility:         #26e030;
$color-intelligence:    #01cde3;

