// navbar

$navbar-z-index: 1000;
$navbar-z-index_background: 1001;
$navbar-z-index_sub: 1002;
$navbar-z-index_main: 1003;

$navbar-transition-duration: 180ms;

$navbar-main-height: 60;
$navbar-sub-height: 40;

$navbar-left-width: 188;

$navbar-item-width: 164;
$navbar-item-width_home: 200;
$navbar-item-height_home: 80;

$navbar-sub-item-height: 32;

$navbar-home-logo-width: 108;
$navbar-home-logo-height: 86;
$navbar-home-logo-offset: 3;

$navbar-bg-width: 1920;
$navbar-bg-height: 164;

$navbar-main-font-size: 24;
$navbar-sub-font-size: 15;
