/**
 * Component: ItemTile
 */
@include comp('item-tile') {
  display: flex;
  flex-flow: column nowrap;

  font-size: rem($item-icon-height);
  line-height: 1;
  vertical-align: middle;
  width: $item-icon-width / $item-icon-height * 1em;
  height: ($item-icon-height + $font-size-min * $line-height-base) / $item-icon-height *
    1em;

  color: inherit;
  box-shadow: raise-shadow();

  @include elem('label') {
    text-align: center;
    font-size: rem($font-size-min);
    line-height: $line-height-base;
    height: rem($font-size-min * $line-height-base);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $color-white;
    background-color: rgba($color-black, $opacity-half);
  }
}
