$navbar-z-index: 1000;
$navbar-z-index_background: 1001;
$navbar-z-index_sub: 1002;
$navbar-z-index_main: 1003;

$navbar-transition-duration: 180ms;

$navbar-left-width: 188;

$navbar-item-width: 164;
$navbar-item-width_home: 200;
$navbar-item-height_home: 80;

$navbar-sub-item-height: 32;

$navbar-home-logo-width: 108;
$navbar-home-logo-height: 86;
$navbar-home-logo-offset: 3;

$navbar-bg-width: 1920;
$navbar-bg-height: 164;

$navbar-main-font-size: 24;
$navbar-sub-font-size: 15;

$navbar-backgrounds: 'home', 'heroes', 'store', 'watch', 'learn', 'mods';

/**
 * Component: Navbar
 */
@include comp('navbar') {
  position: relative;
  z-index: $navbar-z-index;
  height: rem($navbar-main-height + $navbar-sub-height);
  width: 100%;
  overflow: hidden;

  // main

  @include elem('main') {
    z-index: $navbar-z-index_main;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: rem($navbar-main-height);

    font-size: rem($navbar-main-font-size);
  }

  @include elem('left', 'right', 'center') {
    flex: none;
  }
  @include elem('left') {
    width: rem($navbar-left-width);
  }

  @include elem('center') {
    width: rem($navbar-item-width_home + $navbar-item-width * 5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  @include elem('item', 'item-home') {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;

    width: rem($navbar-item-width);
    height: 100%;
  }

  @include elem('item-home') {
    width: rem($navbar-item-width_home);
    height: rem($navbar-item-height_home);
  }

  @include elem('home-logo') {
    width: rem($navbar-home-logo-width);
    height: rem($navbar-home-logo-height);
    transform: translate3d(
      rem($navbar-home-logo-offset),
      rem($navbar-home-logo-offset),
      0
    );

    opacity: 0;
    &:hover {
      opacity: 1;
    }
    transition: opacity ease-in-out $navbar-transition-duration;
  }

  // sub

  @include elem('sub-wrapper') {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem($navbar-sub-height);

    font-size: rem($navbar-sub-font-size);
  }

  @include elem('sub') {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;

    padding-left: rem($navbar-left-width + $navbar-item-width_home + $gap-base);
    padding-right: rem($gap-base / 2);

    bottom: rem($navbar-sub-height);
    opacity: 0;

    @include when('matched') {
      bottom: 0;
      opacity: 1;
    }

    transition: all ease-in-out $navbar-transition-duration;
  }

  @include elem('sub-background') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  @include elem('sub-item') {
    z-index: $navbar-z-index_sub;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;
    height: rem($navbar-sub-item-height);
    padding: rem($gap-base / 2);
  }

  // background

  @include elem('background-wrapper') {
    z-index: $navbar-z-index_background;
    position: absolute;
    flex: none;
    width: 100%;
    height: rem($navbar-main-height);
  }

  @include elem('background') {
    position: absolute;
    top: 0;
    left: 0;
    width: rem($navbar-bg-width);
    height: rem($navbar-bg-height);

    background-position: 0 0;
    background-size: rem($navbar-bg-width) rem($navbar-bg-height);
    background-repeat: no-repeat;
    background-image: resources('images/topbar/topbar_small_png.png');

    @each $bg in $navbar-backgrounds {
      @include when($bg) {
        background-image: resources('images/topbar/topbar_#{$bg}_small_png.png');
      }
    }

    opacity: 0;
    @include when('matched') {
      opacity: 1;
    }
    transition: opacity ease-in-out $navbar-transition-duration;
  }

  // theme

  @include elem('item', 'sub-item') {
    transition: color ease-in-out $navbar-transition-duration;
  }

  color: theme('dark');

  @include elem('item', 'sub-item') {
    color: theme('dark', 'fg', 'sub');
    &:hover {
      color: theme('dark', 'fg', 'emphasize');
    }
    @include when('matched') {
      color: theme('dark', 'fg', 'emphasize');
    }
  }

  @include elem('sub') {
    background: linear-gradient(
      to right,
      theme('dark', 'bg', 'lower'),
      theme('dark', 'bg', 'lower')
        rem($navbar-left-width + $navbar-item-width_home + $navbar-item-width * 5),
      transparent
        rem($navbar-left-width + $navbar-item-width_home + $navbar-item-width * 6)
    );
  }
}
