/**
 * Component: HeroPortrait
 */
@include comp('hero-portrait') {
  position: relative;

  width: 100%;

  @include elem('background-container') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include elem('background') {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  $avatar-height: rem($hero-video-size);
  $avatar-width: rem($hero-video-size * $hero-avatar-v-width / $hero-avatar-v-height);

  @include elem('avatar') {
    position: relative;
    width: $avatar-width;
    height: $avatar-height;

    box-shadow: raise-shadow(4);
  }

  @include elem('avatar-background', 'avatar-image', 'avatar-video') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    font-size: $avatar-height;
  }

  $name-font-size: 32;
  $hype-font-size: 14;
  $role-font-size: 16;

  @include elem('name', 'hype') {
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
  @include elem('name') {
    font-weight: normal;
    font-size: rem($name-font-size);
  }
  @include elem('hype') {
    font-size: rem($hype-font-size);
  }

  @include elem('roles') {
    white-space: nowrap;
    font-size: rem($role-font-size);
  }

  @include elem('role-level', 'role-level-empty') {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    height: 1em;
    width: 0.618em;
    margin-left: 0.25em;
    border: rem(1) solid currentColor;
  }
  @include elem('role-level') {
    background-color: currentColor;
  }

  // theme
  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);

      @include elem('name') {
        color: theme($theme, 'fg', 'emphasize');
      }
      @include elem('hype') {
        color: theme($theme, 'fg', 'sub');
      }
    }
  }
}
