/**
 * Component: LevelBadge
 */
@include comp('level-badge') {
  $bar-width: 4;

  width: rem($level-size);
  height: rem($level-size);

  display: inline-flex;
  vertical-align: middle;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: rem($bar-width);

  border-radius: 50%;

  color: $color-highlight;
  box-shadow: raise-shadow();

  font-weight: bold;
  font-size: rem($level-size / 2.5);
  line-height: 1;
  text-shadow: (0 0 rem(12) $color-glow, 0 0 rem(8) $color-glow, 0 0 rem(4) $color-glow);

  @include elem('inner') {
    width: 100%;
    height: 100%;

    display: inline-flex;
    vertical-align: middle;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    border-radius: 50%;
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      background-color: theme($theme, 'bg', 'high');

      @include elem('inner') {
        background: theme($theme, 'bg', 'lower');
      }
    }
  }
}
