/**
 * Component: App
 */
@include comp('app') {
  position: relative;
  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;

  @include elem('wrapper') {
    width: 100%;
  }

  @include elem('content') {
    // position: relative;
    width: 100%;
    padding: rem($swimlane-padding) 0;
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      background-color: theme($theme, 'bg');
    }
  }
}
