/**
 * Component: AbilityDetail
 */
@include comp('ability-detail') {
  @include elem('name') {
    font-size: rem(24);
    font-weight: normal;
    line-height: 1;
  }

  @include elem('lore') {
    font-size: rem(font-size('small'));
  }

  @include elem('content', 'divider') {
    padding: 0 rem(gap('xsmall'));
  }

  @include elem('divider') {
    &:last-child {
      display: none;
    }
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);

      @include elem('name') {
        color: theme($theme, 'fg', 'emphasize');
      }

      @include elem('description') {
        color: theme($theme);
      }

      @include elem('lore', 'note') {
        color: theme($theme, 'fg', 'sub');
      }
    }
  }

  @include elem('label') {
    color: $color-label;
  }
}
